:root {
  --main-title-color: #ffffff;
  --second-title-color: #2e2f42;
  --main-btn-color: #ffffff;
  --text-color: #434455;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --span-header-color: #2e2f42;
  --span-footer-color: #f4f4fd;
  --background-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

address {
  font-style: normal;
}
img {
  display: block;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}
body {
  color: var(--text-color);
}
body {
  background-color: var(--background-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-contakts {
  font-style: normal;
}

.container {
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/*--------------------Header-----------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 25.5px;
  padding-bottom: 25.5px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.span-header-logo {
  padding-top: 25.5px;
  padding-bottom: 25.5px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--span-header-color);
}

.header-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.adress-list {
  display: flex;
  gap: 40px;
  margin-left: 332px;
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms var(--timing-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms var(--timing-function);
}

.header-adress {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms var(--timing-function);
}

.header-adress:hover,
.header-adress:focus {
  color: var(--hover-color);
}

/*---------------------hero--------------------*/

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  font-size: 56px;
  line-height: 60px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.btn-title {
  align-items: center;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-btn-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function);
}

.btn-title:hover,
.btn-title:focus {
  background-color: var(--hover-color);
}

/*-------------------Section 1-----------------*/
.features {
  padding-top: 120px;
  padding-bottom: 0;
  background-color: var(--background-color);
}

.icons-list {
  display: flex;
  gap: 24px;
}

.icons-item {
  width: calc((100%-72px) / 4);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list li {
  width: calc((100% - 72px) / 4);
}

.features-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*-------------------Section 2------------------*/

.work {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--background-color);
}

.work-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-title-color);
}

.work-img {
  max-width: 100%;
  height: auto;
  border: 1px solid #e7e9fc;
}

.work .list {
  display: flex;
  gap: 24px;
}

.work-item {
  width: calc((100% - 48px) / 3);
}

/*------------------Section3--------------------*/

.team {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-title-color);
}

.team-list {
  display: flex;
  gap: 24px;
}
.foto {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--background-color);
}

.team-img {
  max-width: 100%;
  height: auto;
}

.team-employee {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.foto-name {
  text-align: center;
  padding: 32px 16px;
  width: 264px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--hover-color);
}

/*---------------Customers-----------------*/

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--background-color);
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;

  color: var(--second-title-color);
}

.customers-item {
  width: calc((100%-120px) / 6);
  height: 88px;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background-color: var(--background-color);
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--hover-color);
  border-color: #404bbf;
}

/*-------------------Footer------------------*/

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-wrap {
  display: flex;
  margin-left: auto;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.span-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--span-footer-color);
}
.footer-text {
  margin-top: 16px;
  width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-soc-wrap {
  margin-left: 120px;
}

.footer-soc-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-sub-wrap {
  display: block;
  margin-left: auto;
}

.footer-sub {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
}
.footer-label {
}
.footer-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;

  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-wrap {
  position: relative;
}

.footer-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 64px 8px 24px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  margin-left: 24px;
}

.frame-icon {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  fill: #ffffff;
}

/*----------Portfolio-------------*/
body {
  font-family: "Roboto", sans-serif;
}
body {
  color: var(--text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

/*-------------SECTION 1---------------*/

.service {
}
.service-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 96px;
  margin-bottom: 72px;
}
.service-btn {
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: #f4f4fd;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    border-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.service-btn:hover,
.service-btn:focus {
  color: #ffffff;
  background-color: var(--hover-color);
  border-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--------------Projects---------------*/

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding-bottom: 120px;
}

.project-items {
  width: calc((100% - 48px) / 3);
  margin-right: 0;
}

.project-img {
  max-width: 100%;
  height: auto;
}

.project-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.project-name {
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-text {
  position: absolute;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 40px;
  left: 32px;
  right: 32px;
  opacity: 0;

  color: #f4f4fd;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0);
}

.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 576px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-btn {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  height: 24px;
  width: 24px;

  background-color: #e7e9fc;

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);

  margin-top: 24px;
  margin-bottom: 16px;
}

.modal-lable {
}

.input-wrap {
  position: relative;
}

.span-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-bottom: 8px;
  padding-left: 38px;
  font-size: 12px;
  outline: transparent;
  transition: border-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 16px;
  margin-top: 4px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms var(--timing-function);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: var(--accent-color);
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;

  display: flex;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: var(--hover-color);
  border: none;
  fill: #f4f4fd;
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.modal-check:focus + .check-text span {
  border-color: var(--hover-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-link {
  display: block;
  margin-left: 4px;
  color: var(--accent-color);
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  letter-spacing: 0.04em;
  color: #ffffff;

  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
